* {
    box-sizing: border-box;
  }
  
  

  body{
    padding: 35px;
    display: grid;
    grid-template-rows: auto ;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "one one one"
    "two three four"
    "five five four";
    
  }
