body {
  width: 60em;
  margin: 0 auto;
}

section {
  padding: 2em;
  margin: 1em;
  display: flex;
  flex-direction: column;
}

#green {
  background-color: #8ffda7;
  grid-area: one;
}

#orange {
  background-color: #ffc788;
  grid-area: five;
}

#yellow {
  background-color: #ffff92;
  grid-area: two;
}

#red {
  background-color: #ff919c;
  grid-area: three;
}

#blue {
  background-color: #98d2ff;
  grid-area: four;
}

ul {
  padding: 0;
}

li {
  background-color: white;
  padding: 1em;
  display: block;
  margin: 1em;
}
